<div
  class="w-[500px] h-[500px] grid p-2 rounded-2xl bg-base-200 shadow-xl"
  [style.gridTemplateColumns]="'repeat(' + size() + ', 1fr)'"
  [style.gridTemplateRows]="'repeat(' + size() + ', 1fr)'"
  [style.gap.px]="size() > 6 ? 2 : size() > 4 ? 4 : 8"
>
  @for (cell of board(); track $index) {
  <!-- tiles -->
  <button
    class="w-full h-full transition-all duration-200 ease-in-out border border-base-300 shadow-sm relative hover:border-gray-600 cursor-pointer"
    [style.borderRadius.px]="size() > 4 ? 8 : 12"
    [class.bg-yellow-400]="cell === 1"
    [class.bg-gray-700]="cell === 0"
    [class.hover:border-yellow-400]="cell === 1"
    [class.hover:border-gray-700]="cell === 0"
    (click)="handleCellClick($index)"
  >
    <!-- dots on tile to present the solution -->
    @if (solution() && ifCellNeedsAction($index)) {
    <span
      class="absolute top-1 right-1 w-5 h-5 flex items-center justify-center rounded-full bg-indigo-500 text-white text-xs font-bold shadow"
    ></span>
    }
  </button>
  }
</div>
