<div class="table gap-6 p-6 items-center">
  <tr>
    <td class="align-top w-[600px]">
      <div class="h-full w-full rounded-2xl bg-base-100 shadow-xl overflow-hidden flex flex-col">
        <div class="px-4 py-3 border-b border-base-200">
          <h2 class="text-lg font-semibold">Problems</h2>
        </div>

        <div class="w-full max-w-xl bg-base-200 rounded-xl shadow-lg overflow-hidden">
          <table class="table w-full">
            <thead class="bg-base-300 sticky top-0">
              <tr>
                <th class="w-28">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined"> grid_view </span>
                    Size
                  </div>
                </th>
                <th class="w-52">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined"> speed </span>
                    <div class="flex items-center gap-2">Difficulty</div>
                  </div>
                </th>
                <th class="w-52">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined"> schedule </span>
                    Created
                  </div>
                </th>
                <th class="w-6"></th>
              </tr>
            </thead>
          </table>
          <!-- There are two tables because of scroll on one. doesn't work the same with one. -->
          <div class="overflow-y-auto max-h-[550px] scrollbar-hidden">
            <table class="table w-full">
              <tbody>
                @for (p of problems(); track p.id) {
                <tr class="cursor-pointer relative group" (click)="selectProblem(p)">
                  <td class="w-28">
                    <span class="badge text-xs font-semibold bg-base-100 text-base-content">
                      {{ p.size }}x{{ p.size }}
                    </span>
                  </td>
                  <td class="w-52 flex items-center">
                    <span
                      class="w-3 h-3 rounded-full"
                      [class.bg-green-400]="p.difficulty <= 1"
                      [class.bg-yellow-400]="p.difficulty > 1 && p.difficulty < 1.5"
                      [class.bg-red-500]="p.difficulty >= 1.5"
                    ></span>

                    <span class="ml-2 badge text-xs font-semibold bg-base-100 text-base-content">
                      {{ p.difficulty <= 1 ? 'Easy' : p.difficulty < 1.5 ? 'Medium' : 'Hard' }}
                    </span>
                  </td>
                  <td class="w-52">
                    <span class="text-xs font-semibold text-gray-500 italic">{{
                      formatTimestamp(p.timestamp)
                    }}</span>
                  </td>
                  <td class="w-6 relative">
                    <div
                      class="absolute top-1/2 -translate-y-1/2 right-2 w-3.5 h-3.5 rounded-full transition-colors duration-200 group-hover:bg-indigo-400"
                      [class.bg-indigo-500]="selectedProblem()?.id === p.id"
                    ></div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </td>

    <td class="flex flex-col items-center gap-5">
      @if (selectedProblem()) {
      <div class="flex items-center gap-4 justify-center select-none">
        <div
          class="flex items-center gap-4 p-3 bg-base-200 rounded-lg shadow-sm w-[100px] justify-center"
        >
          <div class="flex items-center gap-1 text-lg font-semibold">
            <span class="material-symbols-outlined text-yellow-400"> schedule </span>
            <span>{{ formattedTime }}</span>
          </div>
        </div>
        <div
          class="flex items-center gap-4 p-3 bg-base-200 rounded-lg shadow-sm w-[80px] justify-center"
        >
          <div class="flex items-center gap-1 text-lg font-semibold">
            <span class="material-symbols-outlined text-indigo-400"> mouse </span>
            <span >{{ moves() }}</span>
          </div>
        </div>
      </div>
      <app-board
        [size]="selectedSize()"
        [board]="board()"
        [solution]="solution()"
        [solvedCells]="solvedCells()"
        (cellClick)="onCellClick($event)"
      ></app-board>

      <div class="flex gap-4 w-[500px]">
        <button class="btn grow" (click)="resetBoard()">Reset</button>
        <button class="btn btn-primary grow" (click)="getSolution()">Get solution</button>
      </div>
      } @else {
      <div class="italic font-semibold m-24 select-none">Select a problem</div>
      }
    </td>
  </tr>

  <app-event-popup
    [open]="popupOpen()"
    [loading]="false"
    [sucessTitle]="'Congratulations! You solved it. 🎉'"
    [errorTitle]="'Uh oh!'"
    [sucess]="popupSuccess()"
    [message]="popupMessage()"
    (close)="onPopupClose()"
  ></app-event-popup>
</div>
