/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";


/* for webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}

/* Firefox */
.scrollbar-hidden {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}
